In [12]:
import pandas as pd
df_bm = pd.read_csv('Datasets/body-measurements.csv')
df_bm

,Gender,Age,HeadCircumference,ShoulderWidth,ChestWidth,Belly,Waist,Hips,ArmLength,ShoulderToWaist,WaistToKnee,LegLength,TotalHeight
0,1.0,30,22,18,20,18,14,22,22,25,25,22,52
1,1.0,28,19,22,17,18,21,25,28,23,25,20,56
2,2.0,27,21,18,16,14,10,15,21,18,14,18,53
3,1.0,29,20,20,18,11,19,14,24,21,20,21,45
4,2.0,28,16,14,18,13,11,30,25,22,32,13,47
...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,2.0,13,22,6,14,25,18,30,21,20,16,33,59
712,1.0,10,21,11,12,22,2,26,21,15,14,25,45
713,1.0,4,20,17,11,22,22,22,17,12,12,22,40
714,1.0,13,20,15,14,25,18,30,21,20,16,33,59
715,2.0,4,20,15,10,20,20,21,18,10,12,19,37

In [13]:
import pandas as pd
df_bmi = pd.read_csv('Datasets/dataset-bmi.csv')
df_bmi

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [14]:
import pandas as pd
df1 = pd.read_csv('Datasets/dataset1.csv')
df1

,Date,Workout Name,Duration,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes,RPE
0,13/09/2021 10:41,PUSH 1,1h 12m,Bench Press (Barbell),1,35.00,10,0,0,NaN,"Focusing on CHEST, SHOULDERS and TRICEPS",9.0
1,13/09/2021 10:41,PUSH 1,1h 12m,Bench Press (Barbell),2,35.00,9,0,0,NaN,NaN,10.0
2,13/09/2021 10:41,PUSH 1,1h 12m,Bench Press (Barbell),3,35.00,8,0,0,NaN,NaN,10.0
3,13/09/2021 10:41,PUSH 1,1h 12m,Bench Press (Barbell),4,35.00,7,0,0,NaN,NaN,10.0
4,13/09/2021 10:41,PUSH 1,1h 12m,Incline Cable Chest Fly,1,12.50,12,0,0,NaN,NaN,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...
3984,02/02/2024 17:37,PULL 2,30m,Lateral Raise (Dumbbell),4,18.00,3,0,0,NaN,NaN,10.0
3985,02/02/2024 17:37,PULL 2,30m,Seated Row (Cable),1,41.25,12,0,0,NaN,NaN,9.5
3986,02/02/2024 17:37,PULL 2,30m,Seated Row (Cable),2,41.25,8,0,0,NaN,NaN,10.0
3987,02/02/2024 17:37,PULL 2,30m,Seated Row (Cable),3,41.25,5,0,0,NaN,NaN,10.0
3988,02/02/2024 17:37,PULL 2,30m,Seated Row (Cable),4,41.25,4,0,0,NaN,NaN,10.0

In [15]:
import pandas as pd
df2 = pd.read_csv('Datasets/dataset2.csv')
df2

,Date,Workout Name,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,Notes,Workout Notes
0,23/10/2015 17:06,Chest,Incline Bench Press (Barbell),1,135.0,8,0.0,0,NaN,NaN
1,23/10/2015 17:06,Chest,Incline Bench Press (Barbell),2,135.0,8,0.0,0,NaN,NaN
2,23/10/2015 17:06,Chest,Incline Bench Press (Barbell),3,135.0,5,0.0,0,NaN,NaN
3,23/10/2015 17:06,Chest,Incline Bench Press (Barbell),4,185.0,7,0.0,0,NaN,NaN
4,23/10/2015 17:06,Chest,Incline Bench Press (Barbell),5,230.0,8,0.0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9927,29/09/2018 14:35,Push - Incline #40,Low Incline Dumbbell Bench,2,170.0,12,0.0,0,NaN,NaN
9928,29/09/2018 14:35,Push - Incline #40,Low Incline Dumbbell Bench,3,170.0,15,0.0,0,NaN,NaN
9929,29/09/2018 14:35,Push - Incline #40,Lateral Raise (Dumbbells),1,50.0,15,0.0,0,NaN,NaN
9930,29/09/2018 14:35,Push - Incline #40,Lateral Raise (Dumbbells),2,50.0,15,0.0,0,NaN,NaN
9931,29/09/2018 14:35,Push - Incline #40,Lateral Raise (Dumbbells),3,50.0,15,0.0,0,NaN,NaN

In [16]:
import pandas as pd
df3 = pd.read_csv('Datasets/dataset3.csv')
df3

,Unnamed: 0,Title,Desc,Type,BodyPart,Equipment,Level,Rating,RatingDesc
0,0,Partner plank band row,The partner plank band row is an abdominal exe...,Strength,Abdominals,Bands,Intermediate,0.0,NaN
1,1,Banded crunch isometric hold,The banded crunch isometric hold is an exercis...,Strength,Abdominals,Bands,Intermediate,NaN,NaN
2,2,FYR Banded Plank Jack,The banded plank jack is a variation on the pl...,Strength,Abdominals,Bands,Intermediate,NaN,NaN
3,3,Banded crunch,The banded crunch is an exercise targeting the...,Strength,Abdominals,Bands,Intermediate,NaN,NaN
4,4,Crunch,The crunch is a popular core exercise targetin...,Strength,Abdominals,Bands,Intermediate,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2913,2913,EZ-bar skullcrusher-,The EZ-bar skullcrusher is a popular exercise ...,Strength,Triceps,E-Z Curl Bar,Intermediate,8.1,Average
2914,2914,Lying Close-Grip Barbell Triceps Press To Chin,NaN,Strength,Triceps,E-Z Curl Bar,Beginner,8.1,Average
2915,2915,EZ-Bar Skullcrusher - Gethin Variation,The EZ-bar skullcrusher is a popular exercise ...,Strength,Triceps,E-Z Curl Bar,Intermediate,NaN,NaN
2916,2916,TBS Skullcrusher,The EZ-bar skullcrusher is a popular exercise ...,Strength,Triceps,E-Z Curl Bar,Intermediate,NaN,NaN
2917,2917,30 Arms EZ-Bar Skullcrusher,NaN,Strength,Triceps,E-Z Curl Bar,Intermediate,NaN,NaN

In [7]:
import pandas as pd
df4 = pd.read_csv("Datasets/archive/final_dataset_BFP.csv")
df4

,Weight,Height,BMI,Body Fat Percentage,BFPcase,Gender,Age,BMIcase,Exercise Recommendation Plan
0,76.811975,1.820521,23.175956,18.281148,Acceptable,Male,29,normal,4
1,77.721154,1.945498,20.534184,13.731021,Fitness,Male,23,normal,4
2,87.558726,1.742754,28.828859,42.304631,Obese,Female,57,over weight,5
3,89.473356,1.758318,28.940017,27.958021,Obese,Male,41,over weight,5
4,69.963943,1.722570,23.578732,16.464478,Fitness,Male,19,normal,4
...,...,...,...,...,...,...,...,...,...
4995,87.003054,1.902891,24.027404,16.772884,Fitness,Male,18,normal,4
4996,92.121555,1.779346,29.096464,30.215757,Obese,Male,50,over weight,5
4997,105.298845,1.972883,27.053345,31.214014,Obese,Male,65,over weight,5
4998,90.411999,1.803409,27.799528,29.579434,Obese,Male,54,over weight,5
4999,54.641104,1.402966,27.760382,42.862459,Obese,Female,65,over weight,5

In [3]:
import pandas as pd
df5 = pd.read_csv("Datasets/archive/final_dataset.csv")
df5

,Weight,Height,BMI,Gender,Age,BMIcase,Exercise Recommendation Plan
0,92.085190,1.760250,29.719488,Female,59,over weight,5
1,61.089124,1.595499,23.997776,Female,25,normal,4
2,82.454037,1.816538,24.987499,Female,50,normal,4
3,101.713306,1.790696,31.720047,Female,62,obese,6
4,99.609527,1.969726,25.673756,Male,57,over weight,5
...,...,...,...,...,...,...,...
4995,55.256111,1.442648,26.549697,Female,23,over weight,5
4996,106.683815,1.779544,33.688435,Female,65,severe obese,7
4997,55.645396,1.915978,15.158221,Male,26,sever thinness,1
4998,83.748623,1.751525,27.298892,Female,55,over weight,5
4999,103.344782,1.789984,32.254493,Female,22,severe obese,7

In [6]:
import pandas as pd
df6 = pd.read_csv("Datasets/archive(2)/megaGymDataset.csv")
df6

,Unnamed: 0,Title,Desc,Type,BodyPart,Equipment,Level,Rating,RatingDesc
0,0,Partner plank band row,The partner plank band row is an abdominal exe...,Strength,Abdominals,Bands,Intermediate,0.0,NaN
1,1,Banded crunch isometric hold,The banded crunch isometric hold is an exercis...,Strength,Abdominals,Bands,Intermediate,NaN,NaN
2,2,FYR Banded Plank Jack,The banded plank jack is a variation on the pl...,Strength,Abdominals,Bands,Intermediate,NaN,NaN
3,3,Banded crunch,The banded crunch is an exercise targeting the...,Strength,Abdominals,Bands,Intermediate,NaN,NaN
4,4,Crunch,The crunch is a popular core exercise targetin...,Strength,Abdominals,Bands,Intermediate,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2913,2913,EZ-bar skullcrusher-,The EZ-bar skullcrusher is a popular exercise ...,Strength,Triceps,E-Z Curl Bar,Intermediate,8.1,Average
2914,2914,Lying Close-Grip Barbell Triceps Press To Chin,NaN,Strength,Triceps,E-Z Curl Bar,Beginner,8.1,Average
2915,2915,EZ-Bar Skullcrusher - Gethin Variation,The EZ-bar skullcrusher is a popular exercise ...,Strength,Triceps,E-Z Curl Bar,Intermediate,NaN,NaN
2916,2916,TBS Skullcrusher,The EZ-bar skullcrusher is a popular exercise ...,Strength,Triceps,E-Z Curl Bar,Intermediate,NaN,NaN
2917,2917,30 Arms EZ-Bar Skullcrusher,NaN,Strength,Triceps,E-Z Curl Bar,Intermediate,NaN,NaN

In [2]:
import pandas as pd
df7 = pd.read_excel('Datasets/gym recommendation/gym recommendation.xlsx')
df7

,ID,Sex,Age,Height,Weight,Hypertension,Diabetes,BMI,Level,Fitness Goal,Fitness Type,Exercises,Equipment,Diet,Recommendation
0,1,Male,18,1.68,47.5,No,No,16.83,Underweight,Weight Gain,Muscular Fitness,"Squats, deadlifts, bench presses, and overhead...",Dumbbells and barbells,"Vegetables: (Carrots, Sweet Potato, and Lettuc...",Follow a regular exercise schedule. Adhere to ...
1,2,Male,18,1.68,47.5,Yes,No,16.83,Underweight,Weight Gain,Muscular Fitness,"Squats, deadlifts, bench presses, and overhead...","Light athletic shoes, resistance bands, and li...","Vegetables: (Tomatoes, Garlic, leafy greens, b...",Follow a regular exercise schedule. Adhere to ...
2,3,Male,18,1.68,47.5,No,Yes,16.83,Underweight,Weight Gain,Muscular Fitness,"Squats, yoga, deadlifts, bench presses, and ov...","Dumbbells, barbells and Blood glucose monitor","Vegetables: (Garlic, Roma Tomatoes, Capers and...",Follow a regular exercise schedule. Adhere to ...
3,4,Male,18,1.68,47.5,Yes,Yes,16.83,Underweight,Weight Gain,Muscular Fitness,"Squats, yoga, deadlifts, bench presses, and ov...","Light athletic shoes, resistance bands, light ...","Vegetables: (Garlic, Roma Tomatoes, Capers, Gr...",Follow a regular exercise schedule. Adhere to ...
4,5,Male,18,1.68,47.5,No,No,16.83,Underweight,Weight Gain,Muscular Fitness,"Squats, deadlifts, bench presses, and overhead...",Dumbbells and barbells,"Vegetables: (Carrots, Sweet Potato, Lettuce); ...",Follow a regular exercise schedule. Adhere to ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14584,14585,Male,35,1.88,98.0,No,No,27.73,Overweight,Weight Loss,Cardio Fitness,"Brisk walking, cycling, swimming, running , or...","Ellipticals, Indoor Rowers,Treadmills, and Row...","Vegetables: (Broccoli, Carrots, Spinach, Lettu...",Follow a regular exercise schedule. Adhere to ...
14585,14586,Male,36,1.89,99.0,No,No,27.71,Overweight,Weight Loss,Cardio Fitness,"Brisk walking, cycling, swimming, running , or...","Ellipticals, Indoor Rowers,Treadmills, and Row...","Vegetables: (Broccoli, Carrots, Spinach, Lettu...",Follow a regular exercise schedule. Adhere to ...
14586,14587,Male,37,1.90,100.0,No,No,27.70,Overweight,Weight Loss,Cardio Fitness,"Brisk walking, cycling, swimming, running , or...","Ellipticals, Indoor Rowers,Treadmills, and Row...","Vegetables: (Broccoli, Carrots, Spinach, Lettu...",Follow a regular exercise schedule. Adhere to ...
14587,14588,Male,38,1.91,101.0,No,No,27.69,Overweight,Weight Loss,Cardio Fitness,"Brisk walking, cycling, swimming, running , or...","Ellipticals, Indoor Rowers,Treadmills, and Row...","Vegetables: (Broccoli, Carrots, Spinach, Lettu...",Follow a regular exercise schedule. Adhere to ...
14588,14589,Male,39,1.92,102.0,No,No,27.67,Overweight,Weight Loss,Cardio Fitness,"Brisk walking, cycling, swimming, running , or...","Ellipticals, Indoor Rowers,Treadmills, and Row...","Vegetables: (Broccoli, Carrots, Spinach, Lettu...",Follow a regular exercise schedule. Adhere to ...